<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EnssiAuthenticateEntities" connectionString="metadata=res://*/EnssiAuthenticate.csdl|res://*/EnssiAuthenticate.ssdl|res://*/EnssiAuthenticate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=EnssiAuthenticate;persist security info=True;user id=sa;password=enssi;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>